<section class="widget links">
    <div class="widget-icon">
        {{ partial "helper/icon" "link" }}
    </div>
    <h2 class="widget-title section-title">{{ T "widget.links.title" }}</h2>

    <div class="links-div">
            <a href="{{ $.Site.Params.widgets.links.instagram.href }}" class="instagram">
                <img src="{{ $.Site.Params.widgets.links.instagram.src }}"></img>
            </a>
            <a href="{{ $.Site.Params.widgets.links.github.href }}" class="github">
                <img src="{{ $.Site.Params.widgets.links.github.src }}"></img>
            </a>
            <a href="{{ $.Site.Params.widgets.links.youtube.href }}" class="github">
                <img src="{{ $.Site.Params.widgets.links.youtube.src }}"></img>
            </a>
    </div>
</section>